.app {
  max-width: 650px;
  margin: 2.5em auto;
}

.input {
  margin: 1.5em 0;
}

.input__label {
  font-weight: 600;
  margin-bottom: 1em;
  display: block;
}

.input__input {
  background: var(--background-light);
  border-radius: 4px;
  border: 1px solid var(--background-lighter);
  padding: 0.9em;
  color: var(--foreground-color);
  width: 100%;
  font-size: 1em;
}

.progress-primary {
  background: var(--background-light);
  border: none;
  width: 100%;
  border-radius: 1em;
}

.progress-primary::-moz-progress-bar, .progress-primary::-webkit-progress-bar {
  background: var(--primary-color);
    border-radius: 1em;
}

.song_report__status {
  opacity: 0.8;
  text-transform: capitalize;
}

.song-report {
  transition: opacity ease 2s;
}

.song-report--done {
  opacity: 0;
}

.player {
  width: 100%;
}

.player__waveform {
  width: 100%;
  opacity: 0.6;
}

.player__button {
  background: var(--foreground-color);
  color: var(--background-color);
  border: none;
  height: 2.8em;
  width: 2.8em;
  border-radius: 1.4em;

  transition: all ease 0.2s;
}

.player__button:hover {
  transform: scaleX(1.05) scaleY(1.05);
}

.player__button--outline {
  background:  var(--background-color);;
  color: var(--foreground-color);
}

.player__controls {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.player__controls *:first-child {
  margin-right: 1em;
}

.player__song-title {
  margin: 0.5em 0;
}

.player__column {
  width: 100%;
}
