@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

:root {
  --font-family: 'Montserrat', 'Open Sans', sans-serif;
  --font-size: 22px;

  --primary-color: #1DB954;
  --foreground-color: white;
  --background-color: black;
  --background-light: #575757;
  --background-lighter: #868686;

  --background-1: #151515;
}

body {
  margin: 0;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: var(--background-color);
  color: var(--foreground-color);
  font-size: var(--font-size);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.primary-button {
  background: var(--primary-color);
  color: var(--foreground-color);

  font-weight: 700;
  font-size: 1.4em;

  border: none;
  padding: 0.5em 2.5em;
  border-radius: 2.5em;

  transition: all ease 0.05s;
}

.primary-button:hover {
  transform: scaleX(1.025) scaleY(1.025);
}
