

.upload-form__row {
  display: flex;
  flex-direction: row;
}

.upload-form__row > * {
  margin: 0 0.4em;
}

.upload-form__column {
  display: flex;
  flex-direction: column;
}

.upload-form__cover .input__label {
  height: 7em;
  width: 7em;
  background: var(--background-light);
  padding: 1em;
  font-size: 0.75em;
  border-radius: 4px;
  line-height: 2em;
  text-align: center;
}

.upload-form__cover .input__input {
  display: none;
}

.progress-primary {
  background: var(--background-light);
  border: none;
  width: 100%;
  border-radius: 1em;
}

.progress-primary::-moz-progress-bar, .progress-primary::-webkit-progress-bar {
  background: var(--primary-color);
    border-radius: 1em;
}

.song_report__status {
  opacity: 0.8;
  text-transform: capitalize;
}

.song-report {
  transition: opacity ease 2s;
}

.song-report--done {
  opacity: 0;
}
